
/****************************************************/
/*	  			        TOGGLES				        */
/****************************************************/
.toggle.image-switch .btn {
    /* min-width: initial; */
}

.toggle.image-switch,
.toggle.image-switch .toggle-on,
.toggle.image-switch .toggle-off,
.toggle.image-switch .toggle-handle {
    border-radius: 20px;
}

.toggle.image-switch .toggle-group .btn .fa {
    float: left;
    font-size: 20px;
}

.toggle.image-switch .toggle-group .btn .text {
    line-height: 1;
    font-size: 16px;
    font-weight: bold;
}

.toggle.image-switch .toggle-off.btn {
    margin-left: 20px;
    margin-right: -10px;
}

.toggle.image-switch .toggle-on.btn {
    margin-right: 10px;
}