@import url("../../libs/bootstrap-toggle/css/bootstrap2-toggle.min.css");
@import url("../../libs/bootstrap-slider/css/bootstrap-slider.min.css");
@import url("css/bootstrap-slider-extension.css");
@import url("css/toggle.css");

#perspectiveGridContainer {
  --file-tile-size: 32vmin;
  --file-tile-flex: 1 1 var(--file-tile-size);
}

#gridShowAllFilesContainer {
  display: none;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.tileContainer {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.fileTile {
  margin: 5px;
  padding: 1px 1px 1px 3px;
  border: 1px solid #D4D4D4;
  text-align: left;
  height: var(--file-tile-size);
  width: var(--file-tile-size);
  overflow: hidden;
  position:relative;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  flex: var(--file-tile-flex);
}

.activeRow { background: rgba(29, 209, 159, 0.52) !important; }

@media (max-width: 768px) {
  .fileTile {
    max-width: 500px;
  }
}

/*.fileTile button:hover {
  opacity: 1;
}*/

.titleInFileTile {
  font-size: 12px;
  line-height: 120%;
  color: #333333;
  background-color: white;
  opacity: 0.7;
  z-index: 99;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  padding: 5px;
}

.ui-selected .titleInFileTile {
  background-color: #1DD19F;
}

.tagsInFileTile {
  position: absolute;
  z-index: 100;
  left: 2px;
  top: 35px;
  max-height: 48px;
  overflow: hidden;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

.tagsInFileTile:hover {
  opacity: 1;
}

.fileTileSelector {
  border-radius: 3px;
  position:absolute;
  top:0;
  left:0;
  z-index: 101;
  background-color: rgba(220,220,220,0.7);
  margin: 5px;
  padding: 2px 4px 2px 4px;
}

.fileTileSelector:hover, .fileTileSelector:active, .fileTileSelector:focus {
  border-radius: 3px;
  background-color: rgba(220,220,220,0.7);
}

.fileExtTile {
  border-radius: 0 !important;
  text-align: center;
  padding: 1px;
  color: black ;
  z-index: 99;
  text-transform:uppercase;
}

.fileExtension {
  padding: 2px;
  float: right;
  color: white;
  font-weight: bold;
  background-color: gray;
}

.thumbImg {
  max-width: 100px;
  max-height: 100px;
  vertical-align: text-top;
  border: 0px lightgray solid;
}

.modal-dialog .modal-body.container {
  width: 100%;
}


.modal-body .row:first-child {
  margin-top: 0 !important;
}
.modal-body .row:last-child {
  margin-bottom: 0 !important;
}

.modal-body .row {
  margin-top: 10px;
  margin-bottom: 10px;
}

#aboutExtensionModalGrid img {
  max-width: 100%;
}

#aboutExtensionModalGrid h1 {
  font-size: 22px;
}

#aboutExtensionModalGrid h2 {
  font-size: 20px;
}

#aboutExtensionModalGrid h3 {
  font-size: 18px;
}

#aboutExtensionModalGrid .modal-body {
  max-height: 500px;
  overflow: auto;
}
